main{
    padding: 2em 16em;
    background: #EEEEEE;
}

div{
    display: flex;
    background: #FFF;
    border-radius: 20px;
    padding: 2em 8em;
    // display: grid;
    // grid-template-columns: 2fr 1fr;
    
    .story{
        
        &__title{
            font-size: 3rem;
            color: #392A25;
            text-transform: uppercase;
        }
    
    
        &__texts{
            padding-top: 1em;
            font-size: 1.5rem;
            
            &__text{
                padding: 1em 0;
                display: flex;
                line-height: 2.5em;

                img{
                    width: 100vw;
                    height: 30vh;
                    border-radius: 10px;
                    margin: 0 1em;
                }
            }
        }
    
    }
    
}