font-face{
    font-family: 'century';
    src: url(../font/century-old-style.otf);
}

font-face{
    font-family: 'one piece';
    src: url(../font/one\ piece\ font.ttf);
}

font-face{
    font-family: 'times-new';
    src: url(../font/times-new-roman.ttf);
}