.wanted{
    background: #FFF;
    border-radius: 20px;
    padding-top: 2em;
    
    &__title{
        text-align: center;
        text-transform: uppercase;
        font-size: 3rem;
        color: #392A25;
    }

    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        padding: 2em;

        &__list{
            width: 17vw;
            height: 50vh;
            padding: 1em;

            &__item{
                border-radius: 10px;
                width: 15vw;
                height: 40vh;

                &:hover{
                    transform: scale(1.1);
                    transition: 0.7s ease-in-out;
                }
            }
        }
    }
}