*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.hero{
    width: 100vw;
    height: 100vh;
    background-image: url('../img/banner.jpg');
    background-size: cover;
}

.hero__menu{
    display: flex;
    justify-content: center;
    gap: 2em;
    
}