*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

.hero{
    position: relative;
}

.hero:before{
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    background-image: url('../img/banner.jpg');
    background-size: 100vw 100vh;
    z-index: 1;
    /* opacity: 0.8; */
}

nav{
    position: relative;
    z-index: 1;
}

nav::before{
    width: 100vw;
    height: 10vh;
    content: '';
    position: absolute;
    z-index: -1;
    background-color: #000000;
    opacity: 50%;
    border-radius: 0 0 10px 10px;
}



.hero__menu{
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 1.5em;
}

.hero__menu__item__link{
    font-size: 1.8rem;
    color: #1698F1;
    font-weight: bold;
    text-transform: uppercase;
}


.hero__menu__item__link:hover{
    color: #FFF;
}

.contador{
    max-width: 40vw;
    height: 50vh;
    background-color: #000000;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 10em;
    opacity: 70%;
    border: 1px solid #FFF ;
    border-radius: 10%;
    padding: 2em;
    display: flex;
    justify-content: center;
    text-align: center;
}

.contador__titulo{
    width: 50%;
    font-size: 2rem;
    color: #FFF;
}