@use 'hero';
@use 'variables';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:  variables.$fontFamily;
    overflow-x: hidden;
}

.main{
     padding: 2em 16em;
     background: variables.$background;
}

.story{
    @include variables.containers;
    background: variables.$colorWhite;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1em;
   
    &__texts{

        &__title{
            @include variables.titles()
        }

        &__text{
            @include variables.texts()
        }
    }

    &__img{
        @include variables.images();
        width: 30vw;
    }

    &__link{
        @include variables.btn();
    }
}


@media(max-width:variables.$breakpointCell){
    .main{
        padding: 1em 1em;
    }
    .story{
        display: block;
        
        &__texts{

            &__title{
                font-size: variables.$fontTitleCell;
            }

            &__text{
                font-size: variables.$fontTextCell;
            }

        }

        &__img{
            @include variables.images();
            width: 70vw;
        }

        &__link{
            @include variables.btn();
            margin-top: 1em;
            width: 30vw;
        }
    }
}

