@font-face{
    font-family: onePiece;
    src: url('../font/one\ piece\ font.ttf');

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

.hero{
    position: relative;
    width: 100vw;
    height: 100vh;
}

.hero:before{
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    background-image: url('../img/banner.jpg');
    background-size: 100vw 100vh;
    z-index: 1;
}

.contador{
    max-width: 60vw;
    height: 60vh;
    background-color: #000000;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    top: 10em;
    opacity: 70%;
    border: 1px solid #FFF ;
    border-radius: 30px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contador__titulo{
    width: 90%;
    color: #FFF;
    text-align: center;
    font-size: 2rem;
}

.contador__texto{
    font-size: 3rem;
    color: #FFF;
    font-weight: bold;
    font-family: onePiece;
}

.contador__texto:hover{
    color: #1698F1;
}

.contador__timer{
    display: flex;
    gap: 2em;
}

.contador__timer__item{
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.valor{
    font-size: 8rem;
    font-weight: bold;
}

.nome{
    font-size: 3rem;
    font-family: onePiece;
    font-weight: bold;
}

.container{


}

.container__personagens{
    display: flex;
    justify-content: center;
    gap: 3em;
    padding: 2em;
}


.container__personagens__bt{
    background: none;
    border: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #6499E9;
}

.container__personagens__bt:hover{
    color: #00A9FF;
    cursor: pointer;
}

.container__lista{
    padding: 1em 5em;
}

.container__lista__item{
    display: none;
    gap: 2em;
    grid-template-areas: "img h2" "img p"; 
}

.container__lista__item--active{
    display: grid;
}

img{
    grid-area: img;
    width: 40vw;
    height: 60vh;
    border-radius: 30px;
}

h2{
    grid-area: h2;
    font-size: 3rem;
    text-transform: uppercase;
}

p{
    grid-area: p;
    font-size: 2rem;
    margin-bottom: 5em;
}