.videos{
    padding-top: 5em;
}

.videos__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5em;
}

.videos__item{
    display: flex;
    justify-content: center;
    gap: 3em;
    max-width: 60vw;
    width: 100%;
}

.video__iframe{
    width: 25vw;
    height: 34vh;
    border-radius: 30px;
}

.img__video{
    width: 300px;
    height: 150px;
}

.titulo__video{
    width: 25vw;
}

