@use'../base/variables';

.akumaNoMi{
    @include variables.containers;
    margin-top: 1em;
    display: grid;
    grid-template-rows: 0.8fr 4fr;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    grid-template-areas: "title title" "img text" "link link";

    &__title{
        grid-area: title;
        @include variables.titles;
    }

    &__img{
        width: 15vw;
        height: 50vh
    }

    &__texts{

        &__item{
            @include variables.texts;
        }
    }

    &__link{
        @include variables.btn;
        grid-area: link;
    }
}