.footer{
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__logo{
        width: 4vw;
    }

    &__texts{
        text-align: center;
        line-height: 1.8em;
    }

    &__socials{
        &__link{
            
            &__img{
                width: 2vw;
            }

}
    }

}
