@use '../base/variables';

.hero{
    position: relative;
    background: url('https://images7.alphacoders.com/133/1330380.jpeg');
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;

    &::before{
        content: '';
        position: absolute;
        background-color: #000000;
        width: 100vw;
        height:100vh;
        opacity: .3;
    }

    &__container{
        position: relative;
        padding: 0.5em 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__img{
            width: 4vw;
            &__item{
                width: 4vw;
            }
        }

        &__list{
            display: flex;
            gap: 0 1em;
            font-size: 1.5rem;
            list-style: none;
            text-transform: uppercase;
            font-weight: bold;
            
            a{
                color: #FFF;
                text-decoration: none;

                &:hover{
                    text-decoration: underline #80D3FF;
                }
            }
        }
    }

    &__hamburguer {
        display: none;
        width: 15vw;
        height: 10vh;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        background: url('../img/menu-hamburguer.png') no-repeat center center;
        background-size: 10vw 5vh;
      }
    
}

@media(max-width:variables.$breakpointCell){
    .hero{
        background-size: 100vw 30vh;
        height: 30vh;
        overflow-x: hidden;

        &::before{
            height:30vh;
        }

        &__container{
            display: relative;
            height: 30vh;

            &__img{
                display: none;
            }

            &__list{
                display: none;

                &--active-menu{
                    display: block;
                    font-size: 0.7rem;
                    position:absolute;
                    padding: 1em;
                    top: 1em;
                    right: 0em;
                    width: 100vw;
                    background:darken(variables.$colorWhite, 1);

                }

                &__item{
                    padding: 1em 0;
                    
                    a{
                        color: variables.$colorBrown;
                        
                        &:active{
                            text-decoration: underline variables.$colorBtn;
                        }
                    }
                }
            }

            
        }

        &__hamburguer{
            display: block;
        }
    }
}