@use '../base/variables';

.wanted{
    @include variables.containers;
    margin-top: 1em;

    &__title{
        text-align: center;
        @include variables.titles;
    }

    &__container{
        margin-left: 7em;

        &__list{
            width: 15vw;

            &__img{
                @include variables.images;
                width: 15vw;
            }

        }
    }

    .scroll-container{
        scroll-behavior: smooth;
    }

    @media(max-width:variables.$breakpointCell){
        &__title{
            font-size: 1.5rem;
        }

        &__container{
            display: block;

            &__list{
                width: auto;
                padding: 1em 0;
    
                &__img{
                    width: 100%;
                }
    
            }
        }
    }

}
