@use '../base/variables';

.world{
    @include variables.containers;
    margin-top: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(2,auto);
    grid-template-areas: "title title" "north south" "east west";
    justify-items: center;
    padding: 2em;

    &__title{
        grid-area: title;
        @include variables.titles;
    }

    &__north{
        grid-area: north;
    }

    &__container{
        width: 20vw;
        height: 65vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 0.5em;

        &__img{
            @include variables.images;
            width: 20vw;
            height: 30vh;
        }

        &__title{
            color: variables.$colorBrown;
            font-size: 1.5rem;
        }

        &__text{
            line-height: 1.5rem;
        }

        &__link{
            @include variables.btn;
        }
    }

    &__south{
        grid-area: south;
    }

    @media(max-width:variables.$breakpointCell){
        @include variables.containers;
        margin-top: 1em;
        display: block;

        &__title{
            font-size: variables.$fontTitleCell;
            text-align: center;
        }

        &__container{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            padding: 1em 0;

            &__img{
                @include variables.images;
                width: 65vw;
                height: 30vh;
            }
    
            &__title{
                text-align: center;
            }

            &__text{
                padding:1.5em 0;
                
            }
    
            &__link{
                @include variables.btn;
                width: 30vw;
            }
        }
    }
}
