.nav{

    width: 100vw;
    height: 12vh;
    position: relative;
    background: #8CD4BC;
    overflow-y: hidden;

    &::before{
        content: '';
        position: absolute;
        background: #000000;
        width: 100vw;
        height: 15vh;
        display: block;
        opacity: 0.5;
        z-index: 0;
    }

    &__container{
        position: relative;
        padding: 0.5em 3em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__img{
            width: 4vw;
        }

        &__list{
            display: flex;
            gap: 0 1em;
            font-size: 1.5rem;
            list-style: none;
            text-transform: uppercase;
            font-weight: bold;
            
            a{
                color: #FFF;
                text-decoration: none;

                &:hover{
                    text-decoration: underline #80D3FF;
                }
            }
        }
    }
}